/* || Typography */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@300;400;500;700&display=swap");

/* || General styles */
:root {
  --teal: #66e2dc;
  --orange: #fa7453;
  --light-orange: #ffb964;
  --white: #fcfaf9;
  --black: #191826;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "IBM Plex Sans Thai", sans-serif;
  font-size: 20px;
  line-height: 34px;
  color: var(--black);
  background: var(--white);
  height: 100%:
}

img {
  max-width: 100%;
}

h1 {
  font-size: 88px;
  line-height: 88px;
  letter-spacing: -1px;
  font-weight: bold;
}

h2 {
  font-size: 40px;
  line-height: 52px;
  font-weight: bold;
  margin-bottom: 15px;
}

/* || Buttons */
.btn {
  background: var(--black);
  color: var(--white);
  display: block;
  min-height: 61px;
  width: 100%;
  padding: 15px 50px;
  font-size: 18px;
  font-weight: bold;
  line-height: 25px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.7s;
  margin: 0 auto;
  max-width: 296px;
}

.btn-apple:hover {
  background: var(--teal);
  color: var(--white);
  transition: 0.7s;
}

.btn-android {
  background: var(--white);
  color: var(--black);
  transition: 0.7s;
}

.btn-android:hover {
  background: var(--light-orange);
  color: var(--black);
  transition: 0.7s;
}

#loading-screen {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  background-color: white;
} 

.loading-icon {
  border: 5px solid #f3f3f3;
  border-top: 5px solid black;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  animation: loaderSpin 1.2s linear infinite;
  z-index: 100;
}

.page-container::after {
  content: "";
  width: 381.4px;
  height: 520px;
  background-image: url("assets/bg-main-mobile.png");
  background-size: cover;
  background-position: 20% 60%;
  position: absolute;
  right: -110px;
  top: -144px;
  z-index: -1;
}

@media only screen and (min-width: 768px) {
  .page-container::after {
    background-image: url("assets/bg-main-tablet.png");
    background-repeat: none;
    background-position: 80% 60%;
    right: -30px;
    top: -144px;
    width: 983px;
    height: 908px;
  }
}

@media only screen and (min-width: 1440px) {
  .page-container::after {
    width: 1813px;
    right: -150px;
    top: -144px;
    background-position: 135% 60%;
    height: 1758px;
    background-image: url("assets/bg-main-desktop.png");
  }
}

.logo {
  display: block;
  width: 146px;
  padding: 40px 0 64px 24px;
}

main {
  padding: 25px;
}

main h1 {
  font-size: 40px;
  line-height: 48px;
}

main p {
  font-size: 16px;
  line-height: 26px;
  margin-top: 20px;
  margin-bottom: 68px;
}

.pattern-1 {
  display: none;
}

/* || CTA */
.cta {
  position: relative;
  background: var(--black);
  width: 100%;
  border-radius: 12px;
  margin-top: 100px;
}

.iphone-img {
  width: 208px;
  position: absolute;
  top: -120px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.pattern-2 {
  display: block;
  margin: 0 auto;
  width: 280px;
  height: 420px;
}

.cta-card {
  border-radius: 12px;
  background: var(--orange);
  color: var(--white);
  padding: 48px 36px;
}

.cta-card h2 {
  font-size: 30px;
  line-height: 40px;
}

.cta-card p {
  font-size: 18px;
  line-height: 28px;
}

.cta-card h3 {
  font-size: 65px;
  margin: 36px auto;
  display: flex;
  align-items: center;
}

.cta-card h3 span {
  font-size: 20px;
  font-weight: normal;
  margin-left: 16px;
}

.cta-card .btn-apple {
  margin-bottom: 16px;
}

/* || Footer */
footer {
  padding: 64px 24px;
}

.footer-logo {
  margin-bottom: 32px;
}

footer p a {
  color: var(--black);
  font-weight: bold;
  text-decoration: none;
}

footer p a:hover {
  color: var(--orange);
}

footer ul {
  display: flex;
  list-style: none;
  margin: 65px auto 0px auto;
}

footer ul li a {
  text-decoration: none;
}

.social-icon {
  margin-right: 20px;
  width: 25px;
}

.social-icon:hover {
  filter: invert(77%) sepia(53%) saturate(5321%) hue-rotate(323deg)
    brightness(98%) contrast(98%);
}

/* || Medium Devices */
@media (min-width: 768px) {
  .pattern-1 {
    display: block;
    position: absolute;
    top: -32px;
    right: -33px;
    max-height: 400px;
    max-width: 267px;
  }

  main {
    margin-bottom: 160px;
  }

  main h1 {
    font-size: 64px;
    line-height: 64px;
    max-width: 520px;
  }

  main p {
    font-size: 18px;
    line-height: 28px;
    max-width: 514px;
  }

  .iphone-img {
    position: absolute;
    height: 556px;
    width: 270px;
    top: -150px;
    right: 50%;
    z-index: 1;
  }
  
  .cta {
    width: 92%;
    height: 600px;
    display: block;
    margin: 0 auto;
  }

  .cta-card {
    position: absolute;
    top: 25%;
    right: 60px;
    width: 399px;
    height: 546px;
    padding: 50px;
    z-index: 2;
  }

  .pattern-2 {
    display: block;
    height: 420px;
    width: 280px;
    position: absolute;
    top: -50px;
    z-index: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }

  footer {
    margin-top: 87px;
    padding-left: 33px;
    display: flex;
    justify-content: space-between;
  }

  .footer-logo {
    width: 149px;
  }

  .footer-content p {
    font-size: 16px;
    line-height: 26px;
    width: 366px;
  }

  footer ul {
    margin: 0;
    display: flex;
    align-items: center;
  }

  footer ul img {
    padding-top: 30px;
  }
}

/* || Large Devices */
@media (min-width: 1440px) {
  .logo {
    margin-top: 62px;
    margin-left: 165px;
    padding: 0px;
  }
  
  .pattern-1 {
    height: 312px;
    top: -25px;
    right: 0px;
  }

  main {
    padding: 0px;
    margin-left: 165px;
  }
  
  main h1 {
    font-size: 88px;
    line-height: 88px;
    margin-top: 127px;
    max-width: 1015px;
  }

  main p {
    max-width: 825px;
    font-size: 20px;
    line-height: 34px;
    margin-bottom: 321px;
  }

  .cta {
    width: 85%;
  }

  .iphone-img {
    height: 642px;
    width: 312px;
    top: -200px;
    right: 54%;
  }

  .pattern-2 {
    height: 468px;
    width: 312px;
    top: -30px;
    left: -190px;
  }

  .cta-card {
    right: 175px;
  }
}

/* || XL Devices */
@media (min-width: 1920px) {
  .page-container {
    max-width: 85%;
    margin: 0 auto;
  }

  .pattern-1 {
    height: auto;
  }

  .pattern-2 {
    top: 76px;
    left: -60px;
  }

  footer {
    padding: 0px;
    width: 85%;
    margin: 202px auto 91px auto;
  }
}

/* || Animations */
@keyframes loaderSpin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
