/* || Typography */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@300;400;500;700&display=swap");

/* || General styles */
:root {
  --teal: #66e2dc;
  --orange: #fa7453;
  --light-orange: #ffb964;
  --white: #fcfaf9;
  --black: #191826;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "IBM Plex Sans Thai", sans-serif;
  font-size: 20px;
  line-height: 34px;
  color: var(--black);
  background: var(--white);
}

img {
  max-width: 100%;
}

h1 {
  font-size: 88px;
  line-height: 88px;
  letter-spacing: -1px;
  font-weight: bold;
}

h2 {
  font-size: 40px;
  line-height: 52px;
  font-weight: bold;
  margin-bottom: 15px;
}

/* || Buttons */
.btn {
  background: var(--black);
  color: var(--white);
  display: block;
  min-height: 60px;
  width: 100%;
  padding: 20px 50px;
  font-size: 16px;
  font-weight: bold;
  line-height: 14px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.7s;
  margin: 0 auto;
}

.btn-apple:hover {
  background: var(--teal);
  color: var(--white);
  transition: 0.7s;
}

.btn-android {
  background: var(--white);
  color: var(--black);
  transition: 0.7s;
}

.btn-android:hover {
  background: var(--light-orange);
  color: var(--black);
  transition: 0.7s;
}

/* || Loader */
#loading-screen {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  background-color: white;
}

.loading-icon {
  border: 5px solid #f3f3f3;
  border-top: 5px solid black;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  animation: loaderSpin 1.2s linear infinite;
  z-index: 100;
}

/* || Small Devices */
.logo {
  display: block;
  margin: 30px 0 65px 30px;
}

.mobile-bg {
  position: absolute;
  height: 100%;
  top: -33%;
  right: -35%;
  z-index: -1;
}

.tablet-bg,
.desktop-bg,
.bg-pattern-1 {
  display: none;
}

/* || Main */
main {
  padding: 25px;
  margin-bottom: 120px;
}

main h1 {
  font-size: 40px;
  line-height: 48px;
}

main p {
  font-size: 16px;
  line-height: 26px;
  margin-top: 20px;
}

/* || CTA */
.cta-image-card {
  position: relative;
  background: var(--black);
}

.bg-pattern-2 {
  display: block;
  margin: 0 auto;
}

.illustration-app {
  display: block;
  margin: 0 auto;
  width: 60%;
  position: absolute;
  top: -25%;
  left: 20%;
}

.cta-card {
  border-radius: 15px;
  background: var(--orange);
  color: var(--white);
  padding: 60px 30px;
  transform: translateY(-20px);
}

.cta-card h3 {
  font-size: 65px;
  margin: 30px auto;
}

.cta-card h3 span {
  font-size: 20px;
  font-weight: normal;
}

.cta-card .btn-apple {
  margin-bottom: 15px;
}

/* || Footer */
footer {
  padding: 65px 25px;
}

footer img {
  margin-bottom: 30px;
}

footer p span {
  font-weight: bold;
}

footer ul {
  display: flex;
  list-style: none;
  margin: 65px auto 0px auto;
}

footer ul li a {
  text-decoration: none;
}

.social-icon {
  margin-right: 20px;
  width: 25px;
}

.social-icon:hover {
  filter: invert(77%) sepia(53%) saturate(5321%) hue-rotate(323deg)
    brightness(98%) contrast(98%);
}

/* || Medium Devices */
@media (min-width: 450px) {
  .illustration-app {
    display: block;
    margin: 0 auto;
    width: 50%;
    position: absolute;
    top: -25%;
    left: 25%;
  }
}

@media (min-width: 550px) {
  .illustration-app {
    width: 35%;
    top: -20%;
    left: 30%;
  }

  .bg-pattern-2 {
    width: 55%;
  }
}

@media (min-width: 768px) {
  .mobile-bg {
    display: none;
  }

  .tablet-bg {
    display: block;
    position: absolute;
    top: -25%;
    left: -13%;
    height: 100%;
    z-index: -1;
  }

  .bg-pattern-1 {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 30%;
  }

  main h1 {
    font-size: 64px;
    line-height: 64px;
    max-width: 55%;
  }

  main p {
    font-size: 16px;
    max-width: 65%;
  }

  .illustration-app {
    width: 42%;
    top: -12%;
    left: 7%;
  }

  .cta-card {
    width: 50%;
    transform: translate(90%, -75%);
  }

  footer {
    display: flex;
    justify-content: space-between;
    transform: translateY(-450px);
  }

  footer ul {
    margin: 0;
    display: flex;
    align-items: center;
  }

  .footer-content {
    width: 50%;
  }
}

@media (min-width: 900px) {
  .illustration-app {
    width: 35%;
    top: -10%;
    left: 7%;
  }

  .cta-card {
    width: 40%;
    transform: translate(130%, -80%);
  }
}

@media (min-width: 1100px) {
  .bg-pattern-2 {
    width: 43%;
  }

  .illustration-app {
    width: 30%;
    top: -8%;
    left: 11%;
  }
}

/* || Large Devices */
@media (min-width: 1200px) {
  .tablet-bg {
    display: none;
  }

  .desktop-bg {
    display: block;
    position: absolute;
    height: 200%;
    max-width: none;
    top: -25%;
    left: -19%;
    z-index: -1;
  }

  .bg-pattern-1 {
    height: 45%;
  }

  .logo {
    padding-top: 75px;
    padding-left: 100px;
    margin: 0;
  }

  main {
    padding-top: 150px;
    padding-left: 100px;
    margin-bottom: 350px;
  }

  main h1 {
    font-size: 88px;
    line-height: 88px;
    max-width: 65%;
  }

  main p {
    font-size: 20px;
    line-height: 34px;
    max-width: 55%;
  }

  .bg-pattern-2 {
    width: 30%;
    padding: 50px 0 100px 0;
  }

  .cta-card {
    width: 35%;
    transform: translate(167%, -70%);
    padding: 90px 60px;
  }

  .illustration-app {
    width: 32%;
    top: -32%;
  }
}

@media (min-width: 1440px) {
  .bg-pattern-2 {
    width: 35%;
  }

  .cta-card {
    width: 33%;
    transform: translate(167%, -70%);
    padding: 90px 60px;
  }

  .illustration-app {
    width: 26%;
    top: -28%;
  }

  footer img {
    margin-right: 50px;
  }

  .footer-content {
    display: flex;
    align-items: center;
  }
}

@media (min-width: 1650px) {
  .bg-pattern-2 {
    width: 25%;
    padding: 50px 0;
  }

  .illustration-app {
    width: 19%;
  }

  .cta-card {
    width: 22%;
    transform: translate(319%, -70%);
  }

  footer {
    transform: translateY(0px);
  }
}

/* || XL Devices */
@media (min-width: 1800px) {
  .desktop-bg {
    height: 275%;
  }

  .footer-content {
    display: flex;
    align-items: center;
    width: 35%;
  }
}

/* || Animations */
@keyframes loaderSpin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
